.oguestnavbar{
    background-color: rgb(226, 195, 195);
    padding: 20px;
    position:sticky;
    top: 0%;
    text-align: right;
    
    
}
.oguestnavbar ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
.oguestnavbar li{
    width: 150px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
}
.oguestnavbar li :hover{
    color: beige;
    width: 150px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
}