.logout{
    position: relative;
    text-decoration: none;
    color: black;
    left: 90%;
    color: white;
   
}
.home{
    position: relative;
    text-decoration: none;
    color: black;
    color: white;
    left: 40px;
    
}
.recepheader{
    background-color: rgb(111, 55, 55);
    padding: 10px;
    top: 10px;
}